<html>
<head>
    <title>Create A New Patient</title>
</head>
<body style="background-color:rgb(135, 250, 202); text-align: center;">
<div style="border:solid rgb(0, 139, 58); margin-top:150px; width:50%; height:50%; display: inline-block; background-color:rgb(153, 209, 0);">    
<u><h2>NEW PATIENT</h2></u>

<form action="/savelink" method="post">
    <label>First Name</label>
    <input type="text" name="fname"><br><br>
    <label>Last Name</label>
    <input type="text" name="lname"><br><br>
    <label>Disease </label>
    <input type="text" name="diseases"><br><br>
    <label>Contact No.</label>
    <input type="tel" name="CNo."><br><br>
    <button type="submit">SAVE</button>
    <a href="/">back</a>
</form>
</div>
</body>
</html>
