<head>
    <title>
        Home
    </title>
    </head>
    <body style="background-color:rgb(137, 135, 250); text-align: center;">
    <div style="border:solid rgb(139, 0, 104); margin-top:150px; width:50%; height:50%; display: inline-block; background-color:rgb(112, 209, 0);">
    <u><h1>PATIENT LIST</h1></u><br>
    <img src="/static/patients01.jpg" height="130" width="130"><br><br>
    <a href="createlink">Create New Patient</a>
    <a href="showlink">Show All Patients</a>
    </div>
    </body>